._f5c {
    background: #3e9dcf;
    background: -webkit-linear-gradient(45deg, #3e9dcf, #0487b3);
    background: -moz-linear-gradient(45deg, #3e9dcf, #0487b3);
    background: -o-linear-gradient(45deg, #3e9dcf, #0487b3);
    background: linear-gradient(45deg, #3e9dcf, #0487b3);
}
._f5c ._bl5d {
  margin: auto;
  max-width: 500px;
}
._ch3a,
._ch,
._ch3a,
._ch3b {
  max-width: 60%;
}
@media (max-width: 601px) {
  ._f5a ._bl5d {
      height: auto;
      padding-top: 180px;
  }
  ._f5c ._bl5d {
      margin: auto;
      max-width: 500px;
  }
}
._cna {
  display: -webkit-flex;
  display: flex;
  height: 100%;
  width: 100%;
}